<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBcon" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\JIBRAN\Applications\WebCrawler\UserInterFace\App_Data\CrawlerDB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient"   />
  </connectionStrings>
</configuration>


